USE [master]
GO
/****** Object:  Database [CGVManagement]    Script Date: 12/7/2018 1:37:01 PM ******/
CREATE DATABASE [CGVManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CGVManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BINHPCSE62805\MSSQL\DATA\CGVManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CGVManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BINHPCSE62805\MSSQL\DATA\CGVManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CGVManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CGVManagement]
GO
USE [CGVManagement]
GO
/****** Object:  Table [dbo].[tblCGVs]    Script Date: 12/7/2018 1:37:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCGVs](
	[ID] [nchar](10) NOT NULL,
	[nameMovie] [nvarchar](50) NULL,
	[theater] [nvarchar](15) NULL,
	[seat] [nvarchar](10) NULL,
	[date] [datetime] NULL,
	[time] [nvarchar](10) NULL,
	[timeStarted] [nvarchar](10) NULL,
	[address] [nvarchar](50) NULL,
	[phoneNumber] [nvarchar](50) NULL,
	[bill] [real] NULL,
 CONSTRAINT [PK_tblCGVs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblCGVs] ([ID], [nameMovie], [theater], [seat], [date], [time], [timeStarted], [address], [phoneNumber], [bill]) VALUES (N'A7        ', N'The Immortal', N'A', N'F08', CAST(N'2018-11-09T15:05:50.000' AS DateTime), N'130minutes', N'10:10', N'119B Nguyen Van Qua Street, Ðong Hung Thuan, Q.12', N'1900 2224', 90000)
INSERT [dbo].[tblCGVs] ([ID], [nameMovie], [theater], [seat], [date], [time], [timeStarted], [address], [phoneNumber], [bill]) VALUES (N'E10       ', N'Venom', N'E', N'G13', CAST(N'2018-11-09T15:06:03.000' AS DateTime), N'112minutes', N'13:40', N'119B Nguyen Van Qua Street, Ðong Hung Thuan, Q.12', N'1900 2224', 45000)
INSERT [dbo].[tblCGVs] ([ID], [nameMovie], [theater], [seat], [date], [time], [timeStarted], [address], [phoneNumber], [bill]) VALUES (N'E11       ', N'Venom', N'E', N'G15', CAST(N'2018-11-09T15:06:03.000' AS DateTime), N'112minutes', N'13:40', N'119B Nguyen Van Qua Street, Ðong Hung Thuan, Q.12', N'1900 2224', 0)
USE [master]
GO
